extends layout

block content
  h1= contact['name']
  h4= contact['email']

  h3 Toolbox
  table
    tr
      td Languages:
      td= JSON.stringify(toolbox['languages'])
    tr
      td Databases:
      td= JSON.stringify(toolbox['databases'])
    tr
      td Systems:
      td= JSON.stringify(toolbox['systems'])
    tr
      td Configuration:
      td= JSON.stringify(toolbox['configuration'])

  h3 Experience
  each exp, key in experience
    h4 #{exp['name']} :: #{exp['location']} :: #{exp['dates']}
    each titleDetail, title in exp['titles']
      h5= title
      ul
        each line in titleDetail
          li= line[0]
          if line[1] != undefined && line[1] != null
            ul
              each l in line[1]
                li= l
    h5 Technologies
    p= JSON.stringify(exp['technologies'])

  h3 College Education + Employment
  h4 #{ education['college']['name'] } :: #{ education['college']['degree'] } in #{ education['college']['subject'] } :: #{ education['college']['date'] }
  ul
    each job, key in education['college']['jobs']
      li #{ job['name'] } :: #{ job['title'] } - #{ job['type'] } :: #{ job['location'] } :: #{ job['dates'] }
      ul
        li= job['detail']
