extends layout

block content
  h1(style='text-align: center')= contact['name']
  h4(style='text-align: center') #{ contact['email'] } :: #[a(href="http://#{ contact['website'] }") #{ contact['website'] }]

  h3 Toolbox
  table
    tr
      td Languages:
      td= toolbox['languages'].join(', ')
    tr
      td Databases:
      td= toolbox['databases'].join(', ')
    tr
      td Systems:
      td= toolbox['systems'].join(', ')
    tr
      td Configuration:
      td= toolbox['configuration'].join(', ')

  h3 Education
  h4 #{ education['college']['name'] }
  h4 #{ education['college']['degree'] } in #{ education['college']['subject'] } :: #{ education['college']['date'] }

  h3 Experience
  each exp, key in experience
    h4 #{exp['name']} :: #{exp['location']} :: #{exp['dates']}
    each titleDetail, title in exp['titles']
      h5= title
      ul
        each line in titleDetail
          li= line[0]
          if line[1] != undefined && line[1] != null
            ul
              each l in line[1]
                li= l
    h5 Technologies: #{ exp['technologies'].join(', ') }

  h3 Internships and Other Employment
  ul
    each job, key in education['college']['jobs']
      li #{ job['name'] } :: #{ job['title'] } - #{ job['type'] } :: #{ job['location'] } :: #{ job['dates'] }
      ul
        li= job['detail']

  h3 References
  p Available upon request
